In [4]:
import pandas as pd

### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [58]:
ratings = pd.read_csv('ratings.csv')

In [63]:
ratings[ratings.rating == 5]['movieId'].value_counts().head()

318     39553
296     32169
356     25918
260     25804
2571    25482
Name: movieId, dtype: int64

In [60]:
movies = pd.read_csv('movies.csv')

In [62]:
movies[movies.movieId == 318]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [64]:
power = pd.read_csv('power.csv')

In [122]:
power \
  [(power.year >= 2005) & (power.year <= 2010)] \
  [(power.category == 4) | (power.category == 12) | (power.category == 21)] \
  [(power.country == 'Latvia') | (power.country == 'Lithuania') | (power.country == 'Estonia')] \
  [power.quantity >= 0] \
  ['quantity'] \
  .sum()

<ipython-input-122-a86ff879b797>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  power \
<ipython-input-122-a86ff879b797>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  power \

240580.0

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [45]:
response = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', attrs = {'class': 'quote_list'}, encoding='utf-8')

In [46]:
type(response)

list

In [47]:
rates = response[0]

In [48]:
type(rates)

pandas.core.frame.DataFrame

In [54]:
rates.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1039196,-,1031411,"0,75 %",07785,01:39:00
1,NaN,EUR/RUB,919055,-,913235,"0,64 %",05820,01:39:00
2,NaN,USD/RUB,758975,-,750935,"1,07 %",08040,01:39:00
3,NaN,JPY/RUB,07291,-,07246,"0,62 %",00045,01:40:00
4,NaN,CNY/RUB,117062,-,116151,"0,78 %",00911,01:39:00